{% extends 'base.html.twig' %}

{% block title %}Présentation - Association{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="display-4 fw-bold text-primary">Notre Histoire</h1>
        <p class="lead">Bienvenue sur le site de notre association de quartier.</p>
        <hr class="my-4">
        <p>Nous travaillons chaque jour pour digitaliser les actualités et renforcer le lien entre les habitants.</p>
    </div>
{% endblock %}


