{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="card shadow border-0 p-4">
            <h2 class="mb-4">Envoyer un message</h2>
            <form action="#" method="post">
                <div class="mb-3">
                    <label class="form-label">Nom complet</label>
                    <input type="text" class="form-control" placeholder="Halison A.">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="halison@example.com">
                </div>
                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <textarea class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}
